@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav li {
    margin-left: 15px;
}

.nav a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #152540;
}

.active-settings{
    border-bottom: 1px solid #152540;
}

.dark a {
    color: white;
}
