/* .home-back{
        background-color: #191919 !important;
        width: 1600px;
        height: 1493px;
        margin: 0;
        padding: 0;
} */

.hero{
    margin-top: -1350px;
}

.hero__container{
    background-image: url("../../assets/img/hero__back.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1261px;
    height: 347px;
}

.hero__heading {
    max-width: 337px;
    margin-left: 86px;
    font-family: 'Rotterburg Stylish FREE';
    font-style: normal;
    font-weight: 400;
    font-size: 61px;
    line-height: 67px;
    color: #C9AC8C;
    padding-top: 45px;
}

.hero__search{
    background: #191919;
    box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 1114px;
    height: 169px;
    margin-left: 76px;
}

.hero h3{
    margin: 0;
    font-family: 'Rotterburg Stylish FREE';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 34px;
    color: #C9AC8C;
    margin-left: 507px;
    padding-top: 39px;
}
.hero__form input {
    width: 709px;
    height: 47px;
    border: none;
    outline: none;
    color: white;
    background: #404040;
    border-radius: 15px;
    margin-left: 144px;
    margin-top: 13px;
}

.hero__form button {
    border: none;
    background-color: #C9AC8C;
    width: 160px;
    height: 47px;
    border-radius: 15px;
    position: absolute;
    margin-top: 13px;
    margin-left: 14px;
}
.category{
    margin-top: 147px;
}

.category h1 {
    font-family: 'Rotterburg Stylish FREE';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 34px;
    color: #C9AC8C;
    text-align: center;
}

.category__nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 273px;
}

.category__nav li {
    margin-left: 59px;
}

.category__nav a {
    text-decoration: none;
    font-family: 'Steinbeck';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    color: #FFFFFF;
}

.active-nav {
    color: #C9AC8C !important;
}

.active-link{
    border-bottom: 2px solid white;

}

.select{
    cursor: pointer;
}