.card-author{
    margin-top: 50px !important;
    width: 173px !important;
    height: 252px !important;
    box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
    border-radius: 15px ;
}

.card-author img{
    border-radius: 15px;
}

.card-author h3 {
    margin-top: 12px;
    font-family: 'Steinbeck';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
    color: #C9AC8C !important;
}

.card-author p {
    font-family: 'Steinbeck';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.6) !important;
}
