html {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #191919;
}

.container{
    width: 100% !important;
    max-width: 1300px !important;
    margin: 0 auto !important;
    padding: 0 20px !important;
    padding: 0 !important;
  }